@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: clamp(16px, 1.5vw, 24px);
    overflow-x: hidden;
}

.logo-text h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #0D302C;
    font-size: clamp(48px, 10vw, 200px);
    margin-bottom: 0;

}

.nav_item a{
    text-decoration: none;
    color: #FFFFFF;
}

.logo-text{
    text-align: center;
    top: 10%;
}

.header {
    width: 100vw;               
    height: 100vh;              
    background-image: url('img/7c942405473330c3702552f961fb3ab1a5d9ca82.jpg');
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    padding-top: 80px;
}

.nav-list {
    justify-content: center;
    list-style: none;
    display: flex;
    gap: 80px;
    padding: 0;
    margin: 0;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 40px;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-image: linear-gradient(rgba(1, 53, 62, 1) 0%, rgba(0, 0, 0, 0) 100%)
}

.nav-list li:hover:not(.active){
    text-decoration: underline;
    text-decoration-color: rgba(0, 178, 160, 1); 
    text-decoration-thickness: 2px; 
}

.container {
    margin-left: 15%;
    margin-right: 15%;
}


#about-us {
    margin-top: 20%;
    margin-bottom: 20%;
}

#about-us h1 {
    color: rgba(1, 53, 62, 1);
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: clamp(32px, 3vw, 48px);
    margin-bottom: 10%;
}

#about-us .h1{
    display: flex;
    justify-content: center;
}

.green {
    color: rgba(0, 178, 160, 1);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: clamp(64px, 5vw, 72px);
    margin-top: 3%;
}

.text-block {
    display: flex;
    gap: 50px;
    min-height: 450px;          
}

.text-block1,
.text-block2 {
    flex: 1;                     
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    gap: 50px;                  
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: clamp(14px, 2.5vw, 16px); 
}

.text-block p {
    margin: 0;                   
    line-height: 1.6;           
}

